# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.opendb
/Лабы/.vs/Лабы/v16/Browse.VC.opendb
/Лабы/.vs/Лабы/v16/Browse.VC.db
/Лабы/.vs/Лабы/v16/Browse.VC.db
/Лабы/.vs/Лабы/v16/Browse.VC.db-shm
/Лабы/.vs/Лабы/v16/ipch/AutoPCH/e5b97f61ade12c48/5.ipch
/Лабы/.vs/Лабы/v16/Solution.VC.db-shm
/Лабы/.vs/Лабы/v16/Browse.VC.db
